@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Access Denied";
}
<div class="centered-content">
    <h1>Oops!</h1>
    <h2>Access Denied</h2>
    <p>Sorry, you do not have permission to access this page.</p>
</div>
