<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	
  <!--smtp-->
	<add key="SmtpHost" value="smtp.gmail.com" />
	<add key="SmtpPort" value="587" />
	<add key="SmtpEmail" value="prabs.shrestha@gmail.com" />
	<add key="SmtpPassword" value="rkzqufwljvkskibz" />
</appSettings>