body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error,
label.error {
    color:red;
}

.input-validation-error,
input.error{
    border: 2px solid red;
}

.custom-box {
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 0.1);
    color: black;
    width: 280px;
    margin: 0 5px;
}

.custom-box h3 {
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0.25rem;
}

.custom-box p {
    font-weight: 500;
    margin-bottom: 0.75rem;
}
/** Unauthorized page */
.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.centered-content h1 {
    font-size: 6em;
    margin-bottom: 0.2em;
}

.centered-content h2 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.centered-content p {
    font-size: 1em;
    max-width: 600px;
}